@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    .font-raleway {
        font-family: "Raleway", sans-serif;
    }

    body {
        @apply bg-wall overflow-x-hidden scroll-smooth;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

}